<section class="view">
    <header>
        <button class="btn btn-info btn-force-refresh pull-right"
                data-bind="click: refresh">
            <i class="icon-refresh"></i>Refresh
        </button>
        <h3 class="page-title" data-bind="text: title"></h3>
        <div class="article-counter">
            <address data-bind="text: products().length"></address>
            <address >found</address>
        </div>
    </header>
    <section class="view-list" data-bind="foreach: products">
        <article class="article-container-full-width">
            <div>
                <address data-bind="text: name"></address>
            </div>
        </article>
    </section>
</section>